################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LootPlacesWeb/.vs/LootPlacesWeb/v17
